* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", Garamond, "Times New Roman", Times, serif;
  cursor: crosshair;
}

body {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leaderboard {
  margin-top: 3rem;
  border: 1px solid #000;
  padding: 10px;
  width: 300px;
}

#leaderboard-list {
  list-style-type: none;
  padding: 0;
}

#leaderboard-list li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

#leaderboard-list .loading {
  text-align: center;
}

#leaderboard-list .left {
  text-align: left;
}

#leaderboard-list .right {
  text-align: right;
}

.bottom-half {
  margin-top: 7rem;
}

.back-to-game {
  text-align: center;
}

a {
  color: black;
  opacity: 50%;
  text-decoration: none;
}

.about {
  margin: 0 10px;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.about p {
  text-align: left;
  margin-bottom: 0.75em;
}
